blockquote {
  border-left: 5px solid #eee;
  color: #555;
  margin: 2em 0.75em;
  padding: 0.5em 1em;
}

blockquote ol {
  padding-left: 2em;
}

body {
  margin: 2em;
}

code {
  color: #444;
  background: #eee;
}

h1, h2 {
  font-weight: normal;
}

h2 {
  font-size: 1.25em;
  line-height: 1;
  margin: 1.5em 0 0;
}

hr {
  background: #eee;
  border: 0;
  height: 1px;
  margin: 2em 1ch;
  max-width: 64ch;
}

li, p {
  max-width: 66ch;
}
